<div class="container">
  <div class="text-center">
  <h1><%= @restaurant.name %></h1>
  <h6><%= @restaurant.address %></h6>
  <h6><%= @restaurant.phone_number %></h6>
  <h6><%= @restaurant.category %></h6>

  <ul class="list-inline">
    <li>
      <%= link_to(new_restaurant_review_path(@restaurant)) do %>
        <i class="fa fa-plus" aria-hidden="true"></i>
        <p>Add a review</p>
      <% end %>
    </li>
    <li>
      <%= link_to(edit_restaurant_path(@restaurant)) do %>
        <i class="fa fa-pencil" aria-hidden="true"></i>
        <p>Edit Restaurant</p>
      <% end %>
    </li>
    <li>
      <%= link_to(restaurant_path(@restaurant), method: :delete, data: { confirm: "Are you sure?" }) do %>
        <i class="fa fa-trash-o" aria-hidden="true"></i>
        <p>Delete Restaurant</p>
      <% end %>
    </li>
  </ul>

</div>
<div class="container">
  <% @restaurant.reviews.each do |review| %>
    <div class="card">
      <ul class="list-inline">
        <li>Rating: <%= review.rating %>
        </li>
        <li>
          <%= link_to(edit_restaurant_review_path(@restaurant, review)) do %>
          <i class="fa fa-pencil" aria-hidden="true"></i>
        <% end %>
        </li>
        <li>
        <%= link_to(restaurant_review_path(@restaurant, review), method: :delete, data: { confirm: "Are you sure?" }) do %>
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        <% end %>
        </li>
      </ul>
      <%= review.content %>
    </div>
  <% end %>
</div>
